*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --amarelo-claro: #F2CB05;
    --amarelo: #F2B705;
    --laranja: #F29F05;
    --marrom: #A66D03;
    --cinza-background: #D9D4CC;
}

html{
    font-size: 100%;
    overflow-x: hidden;
}

body{
    background-color: #D9D4CC;
    color: white;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background:transparent;
    /* box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5); */
    display: flex;
    align-items: center;
    z-index: 100;
    height: 10%;
}


.logo{
    font-size: 2.5rem;
    color: white;
    font-weight: 600;
    cursor: default;
    margin-right: auto;
    margin-left: 2%;
}

.navbar a{
    position: relative;
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
    margin-left: 1rem;
    margin-right: 1rem;
}

section{
    min-height: 70vh;
    padding: 10rem 7% 2rem;
}

.inicio{
    display: flex;
    align-items: center;
    color: black;
}

.inicio .inicio-conteudo{
    max-width: 50%;
}

.inicio-conteudo h3{
    font-size: 3rem;
    font-weight: 500;
    line-height: .2rem;
}

.inicio-conteudo h1{
    font-size: 5.6rem;
    font-weight: 500;
    margin-bottom: .3rem;
}

.inicio-conteudo p{
    font-size: 1.2rem;
}

.inicio-conteudo a{
    font-size: 1.2rem;
}

.inicio-conteudo .redes-sociais a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background:transparent;
    border: .2rem solid #F2CB05;
    border-radius: 50%;
    font-size: 1.5rem;
    color: #A66D03;
    margin: 2rem 1rem 1.5rem 0;
    transition: 1s ease;
}

.inicio-conteudo .redes-sociais a:hover{
    background-color: #F2CB05;
    color: white;
}

.pdf{
    display: inline-flex;
    padding: .3rem .5rem;
    background: #F2B705;
    border-radius: .5rem;
    border: .2rem solid transparent;
    box-shadow: 0 .2rem .5rem gray;
    font-size: 1rem;
    color: white;
    letter-spacing: .1rem ;
    font-weight: 600;
    transition: 1s ease;
}

.pdf:hover{
    background: #F2CB05;
}

.inicio .profissao-container{
    position:absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    overflow: hidden;
    pointer-events: none;    
}

.inicio .profissao-container .profissao-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 768px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio .profissao-box .profissao{
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--amarelo);
    transform: rotate(calc(360deg / 2 * var(--i)));
    transform-origin: 384px;
    padding: 13px 0;
    background: var(--cinza-background);
}

.home .profissao-box .profissao:nth-child(1) i{
    margin-right: 15px;
}

.inicio .profissao i{
    font-size: 3.5rem;
}

.inicio .profissao h3{
    font-size: 2rem;
    line-height: 1;
    font-weight: 500;
}

.inicio .profissao-box .circle{
    width:  568px;
    height: 568px;
    border: 3px solid var(--amarelo-claro);
    border-radius: 50%;
}
/* 
.navbar a.active::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: white;
} */

/* Dark Mode Settings */

#luaIcone {
    font-size: 1.7rem;
    color: white;
    cursor: pointer;
    margin-right: 7rem;
}