<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadari</title>
    <link rel="stylesheet" href="/assets/style.css">
    <!-- Gooogle Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
<body>
    <!-- navbar -->
    <header class="header">
        <a href="#" class="logo"> Cadari </a>
        <nav class="navbar">
            <a href="index.html">Início</a>
            <a href="sobre_min.html">Sobre mim</a>
            <a href="portiolio.html">Portifólio</a>
            <a href="contato.html">Contato</a>
        </nav>
        <div class='bx bx-moon' id="luaIcone"></div>
    </header>

    <!-- corpo da home -->
    <section class="inicio" id="inicio">
        <div class="inicio-conteudo">
            <h3>Olá! Me chamo</h3>
            <h1>Luís Cadari</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit eos sint quo cum dignissimos quis quae, nisi a eligendi adipisci saepe magni reiciendis,
                possimus animi. Dignissimos vero nihil a voluptas.
            </p>
            <div class="redes-sociais">
                <a href="https://www.instagram.com/luiscadari/"><i class='bx bxl-instagram' ></i></a>
                <a href="luiscadari01@gmail.com"><i class='bx bxl-gmail' ></i></a>
                <a href="https://github.com/luiscadari"><i class='bx bxl-github' ></i></a>
            </div>
            <a href="" class="pdf">Baixe meu Currículo em PDF</a>
        </div>
        <div class="profissao-container">
            <div class="profissao-box">
                <div class="profissao" style="--i:0">
                    <i class='bx bx-code-block'></i>
                    <h3>Programação</h3>
                </div>
                <div class="profissao" style="--i:1">
                    <i class='bx bx-palette' ></i>
                    <h3>Web Design</h3>
                </div>
                <div class="circle"></div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="imagem-perfil">
            <img src="" alt="">
        </div>
    </section>
</body>
</html>