<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadari</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <!-- navbar -->
    <header>
        <a href="#" class="logo"> Cadari </a>
        <nav class="navbar">
            <a href="index.html">Início</a>
            <a href="sobre_min.html">Sobre mim</a>
            <a href="portiolio.html">Portifólio</a>
            <a href="contato.html">Como chegar até mim?</a>

        </nav>
    </header>
</body>
</html>